/* === COLOURS === */

/*
dunkelblau:   #99d6ff
mittelblau:   #b3e0ff
blau:         #ccebff
hellblau:     #e6f5ff
buttonfarbe:  #006bb3
button hover: #004d80


/* === ANTD-STYLING === */

.ant-input {
  height: 24px !important;
  padding: 4px !important;
}

.ant-form-item {
  margin-bottom: 2px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #006bb3 !important;
  border-color: #006bb3 !important;
}

.ant-btn-primary {
  background-color: #006bb3 !important;
  border-color: #006bb3 !important;
}

.ant-btn-primary:hover {
  background-color: #004d80 !important;
  border-color: #004d80 !important;
}

.ant-btn-dangerous:hover {
  border: 1px solid #ff4d4f !important;
  background-color: #fff !important;
  color: #ff4d4f !important;
}

/* === GLOBAL === */

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.section_seperation {
  height: 1.5rem;
  width: auto;
}

.error {
  font-size: 0.8rem;
  color: red;
}

/* === GRID-SYSTEM === */

/* margin-left und margrin-right auto --> container immer mittig zentriert*/
/* row clearfix hack */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}
